section{
    display:flex;
    flex-direction:column;
    height:50%;
    width:50%;
    border:4px solid #3D5A5B;
    margin-top:-4px;
    position:absolute;
}
#toTrans, #transed{
    width:99%;
    height:50%;
    resize: none;
    background-color: #F7F1ED;
    font-size:2em;
    font-family: monospace;
    color:#2F365F;
}
#trans{
    background-color:#FEBE80;
    color:#2F365F;
    height:15%;
    width:100%;
    border:none;
    font-size:2.5em;
}