header{
    display:flex;
    height:200px;
    background-color:#FEBE80;
    align-items:center;
    border:4px solid #3D5A5B;
    border-radius: 5px;
}
header img{
    width:95%;
    height:100%;
    
}
body{
    background-color:#F7F1ED;
}
header h1{
    color:#2F365F;
    font-family:monospace;
}
nav{
    height:50px;
    width:100%;
    display:flex;
    background-color: #FEBE80;
    
}
nav ul{
    display:flex;
    list-style-type: none;
}
nav li{
    margin-left:200%;
}