<!DOCTYPE html>
<html>
    <head>
        <title>Ask for Help on Learn2Gether</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/study.css">
    </head>
    <body>
        <header>
			<h1>Learn2Gether</h1>
			<img src="/static/banner.png">
		</header>
        <nav>
			<ul>
                <li><a href="/">Home</a></li>
				<li><a href="/study">Study</a></li>
				<li><a href="/forum">Forum</a></li>
				<li><a href="/exercise">Exercise</a></li>
			</ul>
		</nav>
    </body>
</html>