<!doctype html>
<html>
    <head>
        <title>Learn on Learn2Gether</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/study.css">
		<script src="/static/script.js"></script>
    </head>
    <body>
        <header>
			<h1>Learn2Gether</h1>
			<img src="/static/banner.png">
		</header>
        <nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/forum">Forum</a></li>
				<li><a href="/exercise">Exercise</a></li>
			</ul>
		</nav>
		<section>
			<textarea type="text" id="toTrans" name="toTrans" onkeyup="trans()"></textarea><br>
			<textarea type="text" id="transed" name="transed"></textarea>
		</section>
    </body>
</html>